:root{
    --primary-collor: rgb(56, 56, 56); 
    --color: rgb(56, 55, 55);
}
*{
    margin: 0;
    padding: 0;  
    color: rgb(56, 56, 56); 
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    transition: all 0.5 ease-in-out;
}
body{
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-size: 1.6rem;
    color: var(--primary-collor);
    background-color: rgb(250, 250, 249);
}

/*família de fontes:*/
h1, h2, h3, h4, h5 {
    font-family:'Montserrat', sans-serif;  
}
p{
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 4rem;
}

.main-bg{
background-image: url('');
background-position: center center;
background-size: cover;
color: var(--color);
}
.white-bg{
    background-color: var(--color);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem;

}
.section{
    min-height: 25vh;
}
.menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  align-items: center;
  border-bottom: 0.1rem solid rgb(97, 95, 95);
  background-color: rgba(250, 250, 249);
}
.menu-content{
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;}
   
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: rgb(56, 56, 56);
    position: relative;
   
}
.menu h1{
    font-size: 3rem;
    padding: 2rem;
}
a{
    text-decoration: none;
}


.menu ul li a:hover{
    width: 15%;
    left: 5%;
    transition: all 0.5s ease-in-out;
   
}
.menu-spacing{
    height: 80px;
}
.intro-content, .intro-img{ 
    top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr ;
    align-items: stretch;
    height: 10vh;
    
}
.intro-tex{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-tex h2{
  font-size: 8rem;  
  margin-bottom: 10rem;
  line-height: 1.2rem;
}
body{
    overflow: auto;
}

.intro-img{
    grid-template-columns: 1fr 1fr 1fr;
}
 .intro-img img{
    width: 150px;
    min-height: 150px;
    border-radius: 50%;
    background-image: url(http://1.bp.blogspot.com/-qnQOjPW5TGY/TmjhXuZGBzI/AAAAAAAAHzM/wVzoFozSlg8/s640/paisagem+peaceful_place_by_julie_rc.jpg);
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    height: 10rem;
    padding: 10rem;
    
 }  

 .intro-img img:hover{
    transform: translate(3rem , 0) rotate(5deg) scale(1.2);
 }


.product{
    height: 100vh;
    bottom: 100vh;
    left: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: 80rem;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;

}
p{
    margin-bottom: 3rem;
}
.grid-one-content{
    height: 100vh;
   padding-left: 10rem;
   margin-bottom: 6rem;

}
.descrição{
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap:var(--gap);
    counter-reset: grid-counter;
    
}
.grid h3{
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}
.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 4rem;
    font-style: italic;
    top: -4rem;
    left: 0rem;
    transform: rotate(5deg);
}

.img{
    width: 100%;
    max-width: 36rem;
    max-height: 250rem;
    overflow: hidden;

}

.img{
    transition: all 300ms ease-in-out; 
}

.img:hover{
    transform: translate(3rem , 0) rotate(5deg) scale(1.2);
}

table{
    width: 50%;
    border-collapse: collapse;
    padding-top: 100rem;
    background-color: aliceblue;
    justify-content: center;
    margin: 30rem;
    margin-bottom: 5px;
    min-width: 360px;
}
table td, table th{
    border: 1px solid rgb(17, 17, 17);
    text-align: left;
    padding: 0,5rem;
    white-space: nowrap;
}


table caption{
    font-size: 1.6px;
    text-align: left;
    font-style: italic;
}
.responsive-table{
    overflow-x:auto;
    overflow: hidden;
}

.contact-form .form-grid{
    grid-column: span 2;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--meugap);

}
.form-group{
    flex-grow: 1 1 320px;
    min-width: 320px;
}

.form-group label{
    display: block;
    margin-bottom: 1rem;
}

.form-group input, .form-goup textarea{
    border: none;
    background-color: none;
    padding: 1rem 1rem;
    width: 100%;

}



div .full-width{
    width: 100%;
    flex: 1 1 100%;
}

.form-group button{
    border: 2px solid rgb(49, 49, 49);
    background-color: none;
    padding: 3px;
    transition: all 300ms ease-in-out;
}
.form-group button:hover{
   
    background-color:rgb(124, 123, 123); 
    color: aquamarine;
}
.form-goup::placeholder{
    color: aqua;
}
.form-grid legend{
    font-style: italic;
    font-size: 1px;
    margin-bottom: 3rem;
}

.form-goup input:focus,
.form-goup input:focus{
    box-shadow: 0 0 10px 2px red;
}


.footer{
   text-align: center;
   padding: 10rem;
}
.contato{
    padding: 10rem;
    margin-left: 10rem;
}
.close-menu{
    display: none;
}

@media (max-width: 800px){
    .grid{
        grid-template-columns: 1fr;
    }

    .gallery{
        max-height: 100%;
        max-width:100%; 
        width: 100%;
        
    }
    .gallery.img img{
        width: 100%;
    }

 .grid-one-content{
     display: block;
 }

 .menu{
     bottom: 0;
 }
 .menu-content, menu-content ul{
     flex-direction: column;
    justify-content: center;
 }
 .menu-content{
     height: 100vh;
 }
 .menu{
     display: none;
 }
 .close-menu{
     position: fixed;
     z-index: 2;
     top: 0;
     left: 0;
 }
 .close-menu-label::after{
     content: '---' ;
     position: fixed;
     z-index: 2;
     top: 1rem;
    right: 2rem;
    background: white;
    color: aqua;
    font-size: 3rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
 }
 .close-menu:checked~.menu .close-menu-label::after{
     display: block;
    content: 'x';
 }
 .menu-spacing{
     display: none;
 }



}
.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: rgb(197, 197, 197);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(97, 95, 95);
    
}

.lunar{
    width: 100px;
    height: 5rem;
    
    background-size: 150px 150px;

}

/* CSS GRID PRODUTOS */

nav a{
 
    height: 40px;
    
    text-decoration: none;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 20px;
    display: block;
    text-transform: uppercase;
    transition: 300ms ease-in-out;
    }

    nav {
        display: flex;
        align-items: center;
      
       
    }

   

    nav ul{
        display: flex;  
        list-style: none;
    }


 .container{
   
     min-height: 60vh;
     padding: 50px;

 }
 .products-container { 
    max-width: 1200px;
    margin: 0 auto;
 }

 .card{
     width: 31%;
     display: inline-block;
     margin: 1% 1%;
     padding: 15px;
 }

 .product.image{
     height: 300px;
     width: 100%;
     margin-bottom: 10px;
     background-position: center;
     background-size: cover;
 }

 #img-1{
    background-image: url(acess/img/img1.jpeg)
 }
 #img-2{

 }

 h3{
     margin-bottom: 10px;
     color: rgb(94, 94, 94);;
     
     padding-left: 7px;
    font-size: 24px;
 }
 h3.butao{
    border-left: 5px solid #010201;
 }
 
 .card p{
     margin-bottom: 10px;
 }

.bold{
    font-weight: bold;
}
.btn{
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: aquamarine;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    transition: 0.5s;

}

.btn:hover{
        background-color: #3a3a3a;
}

.imagem-produto{

   
}


/**/